Repository onfido/onfido-sdk-ui, pull requests merged in 2021-03, with the labels that each got.

#1368 Post release/merge 6 6 0 to development
  CHANGELOG.md
  demo/fiddle/demo.details
  dist/onfido.min.js
  dist/style.css
  lib/index.js
  lib/index.js.map
  licenses.json
  package-lock.json
  package.json
  release/githubActions/workflows.config
  src/components/Theme/style.scss
  src/components/Uploader/style.scss
  src/components/UserConsent/__tests__/index.test.tsx
  src/components/UserConsent/index.tsx
  src/demo/demo.ejs
  test/TESTING_GUIDELINES.md
  test/pageobjects/BasePage.js
  test/pageobjects/Camera.js
  test/specs/scenarios/face.js
  test/specs/scenarios/userConsent.js
  webpack.config.babel.js
Labels: post-release

#1392 Remove element level selector for anchor links
  CHANGELOG.md
  demo/fiddle/demo.details
  dist/onfido.min.js
  dist/style.css
  lib/index.js
  lib/index.js.map
  licenses.json
  package-lock.json
  package.json
  release/githubActions/workflows.config
  src/components/Theme/style.scss
  webpack.config.babel.js
Labels: release

#1393 Post release/merge 6 7 0 and 6 7 1 into development
  CHANGELOG.md
  README.md
  demo/fiddle/demo.details
  dist/onfido.min.js
  dist/style.css
  lib/index.d.ts
  lib/index.js
  lib/index.js.map
  licenses.json
  package-lock.json
  package.json
  release/githubActions/workflows.config
  src/components/App/ModalApp.tsx
  src/components/Photo/SelfieIntro.js
  src/components/Router/CrossDeviceMobileRouter.tsx
  src/components/Router/StepsRouter.tsx
  src/components/Theme/index.tsx
  src/components/Theme/style.scss
  src/components/Theme/utils.ts
  src/components/crossDevice/ClientSuccess/style.scss
  src/demo/assets/onfido-logo-light.svg
  src/demo/demoUtils.ts
  src/types/enterprise.ts
  webpack.config.babel.js
Labels: post-release

#1394 Chore/fix npm audit 20210330
  lib/index.js
  lib/index.js.map
  licenses.json
  package-lock.json
  package.json
Labels: security
